<div class="p-8 w-full flex flex-col h-screen justify-center items-center content-center">
    <div class="w-full xl:w-3/12">
        <form class="shadow-2xl rounded-lg bg-white px-4 py-4" [formGroup]="signInForm">
            <div style="font-family: Arial;font-style: normal;font-weight: normal;font-size: 36px;line-height: 48px;letter-spacing: 0.2px;color: #0A2540;" class="mb-4">
                Sign In
            </div>
            <div>
                <mat-form-field class="w-full" appearance="outline" >
                    <mat-label>Username</mat-label>
                    <input required matInput type="text" [formControlName]="'username'">
                    <mat-error *ngIf="checkError('minLength') || checkError('maxLength')">Username must have 6 to 10 characters</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full" appearance="outline" >
                    <mat-label>Password</mat-label>
                    <input required matInput [type]="hide ? 'password' : 'text'" [formControlName]="'password'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="checkError('required')">Required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <button style="color: white; background-color: rgb(1, 85, 241);" type="submit" (click)="signIn()" mat-raised-button class="w-full" color="primary">Sign In</button>
            </div>
            <div style="color: rgb(1, 85, 241);" [routerLink]="['../../customer/sign-up']" class="mt-4 text-indigo-600 cursor-pointer">Create an account. Sign Up.</div>
        </form>
    </div>
</div>