mat-toolbar {
    background: rgb(1, 85, 241);
    color: white;
}

mat-sidenav {
    margin: 16px;
    // @media screen and (min-width: 800px) {
    //     width: 300px;
    // }
    // @media screen and (min-width: 800px) {
    //     margin-right: 32px;
    //     padding-right: 16px;
    // }
    width: 300px;
    border-right: none;
    // background: #606f7b;
    background: rgb(1, 85, 241);
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    min-height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    // display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    // color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-left: 85px;
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}