<!-- Header -->
<div class="pt-6 pb-6 flex justify-center">
    <div class="font-bold tracking-normal font-mono">
        Edit Profile
    </div>
</div>


<!-- content -->
<div class="w-full ">
    <!-- Profile Photo -->
    <div class="w-full flex justify-center">
        <div class="relative">
            <img class="w-36 h-36 mt-6 p-1 rounded-full border-2 border-black-100 mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
            <button style="color: aliceblue;background-color: rgb(1, 85, 241);" class="rounded-full cursor-pointer absolute bottom-2 right-1 w-8 h-8 min-h-8"><mat-icon style="font-size: 15px;">edit</mat-icon></button>
            <!-- <mat-icon class="bg-blue-200 rounded-full cursor-pointer color-red">edit</mat-icon> -->
        </div>
    </div>

    <!-- Form -->
    <!-- <div class="flex ">

    </div> -->
    <div class="mt-6 pb-6 w-full flex justify-center">
        <form style="font-size: 13px;" [formGroup]="profileForm">


            <!-- Name -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <!-- First Name -->
                <div>
                    <mat-label >First Name *</mat-label>
                    <mat-form-field class="w-full mr-2" appearance="outline">
                        <input required matInput type="text" [formControlName]="'firstname'">
                    <mat-error *ngIf="checkError('required')">Required</mat-error>
                    </mat-form-field>
                </div>
                    


                <!-- Last Name -->
                <div>
                    <mat-label>Last Name *</mat-label>
                    <mat-form-field class="w-full mr-2" appearance="outline">
                        <input required matInput type="text" [formControlName]="'lastname'">
                    <mat-error *ngIf="checkError('required')">Required</mat-error>
                    </mat-form-field>
                </div>
            </div>


            <!-- Mobile Number -->
            <div>
                <mat-label>Mobile Number *</mat-label>
                <mat-form-field class="w-full" appearance="outline" >
                    <input required matInput type="number" [formControlName]="'mobileNumber'">
                    <mat-error *ngIf="checkError('min')">Enter a valid Mobile Number</mat-error>
                </mat-form-field>
            </div>


            <!-- Email -->
            <div>
                <mat-label>Email *</mat-label>
                <mat-form-field class="w-full" appearance="outline" >
                    <input required matInput type="text" [formControlName]="'email'">
                    <mat-error *ngIf="checkError('required')">Required</mat-error>
                </mat-form-field>
            </div>


            <!-- Username -->
            <div>
                <mat-label>Username *</mat-label>
                <mat-form-field class="w-full" appearance="outline" >
                    <input required matInput type="text" [formControlName]="'username'">
                    <mat-error *ngIf="checkError('minLength') || checkError('maxLength')">Username must have 6 to 10 characters</mat-error>
                </mat-form-field>
            </div>

            <!-- Address -->
            <div>
                <mat-label>Address *</mat-label>
                <mat-form-field class="w-full" appearance="outline" >
                    <input required matInput type="text" [formControlName]="'address'">
                    <mat-error *ngIf="checkError('required') || checkError('maxLength')">Required</mat-error>
                </mat-form-field>
            </div>

            <!-- Pincode -->
            <div>
                <mat-label>Pincode *</mat-label>
                <mat-form-field class="w-full" appearance="outline" >
                    <input required matInput type="number" [formControlName]="'pincode'">
                    <mat-error *ngIf="checkError('minLength') || checkError('maxLength')">Enter a valid Pincode</mat-error>
                </mat-form-field>
            </div>


            <!-- Location -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <!-- State -->
                <div>
                    <mat-label >State *</mat-label>
                    <mat-form-field class="w-full mr-2" appearance="outline">
                        <input required matInput type="text" [formControlName]="'state'">
                    <mat-error *ngIf="checkError('required')">Required</mat-error>
                    </mat-form-field>
                </div>
                    

                <!-- City -->
                <div>
                    <mat-label>City *</mat-label>
                    <mat-form-field class="w-full mr-2" appearance="outline">
                        <input required matInput type="text" [formControlName]="'city'">
                    <mat-error *ngIf="checkError('required')">Required</mat-error>
                    </mat-form-field>
                </div>
            </div>


        <!-- Submit -->
        <div>
            <button style="color: white; background-color: rgb(1, 85, 241);" type="submit" mat-raised-button class="w-2/12 mt-6 mb-6 rounded-md" >Save</button>
        </div>
        </form>
    </div>
    
</div>

